<a href="https://colab.research.google.com/github/Laxmiprasanna2930/python/blob/main/Day2_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Difference between the list and tuple

**List:**
1.List is mutable.We can add,remove,modify the elements in the list.
2.It is defined using square brackets '[]'
3.It supports methods like append(),extend(),remove(),pop()
**Tuple:**
1.Tuple is immutable.We cannot add,remove,modify the elements once it has created
2.It is defined using parenthesis '()'
3.It supports few methods like count(),index()

In [ ]:
# How list is different from an array

**List:**
Lists are mutable.Lists can hold elements of different types.Lists are part of the core python language and doesn't require importing any modules.
**Array:**
Arrays can be mutable or immutable,depending on the specific array type used.Arrays can hold the elements of same data type.Arrays are typically implemented using 'array' module or specilized libraries like NumPy.

In [2]:
# Use the python list append(),copy(),clear,count,extends(),index(),insert(),pop(),reverse(),sort(),min(),max(),and sum()
a=[1,5,9,5]
#append an element
a.append(8)
print("Appended 8:",a)

Appended 8: [1, 5, 9, 5, 8]

In [4]:
#copy the list
b=a.copy()
print("copied list:",b)

copied list: [1, 5, 9, 5, 8]

In [5]:
#clear elements from the list
a.clear()
print("cleared list:",a)

cleared list: []

In [6]:
#count the occurence of element
c=b.count(5)
print("count of 5:",c)

count of 5: 2

In [7]:
#extend the list
ext=[3,2,8]
b.extend(ext)
print("list after extending is:",b)

list after extending is: [1, 5, 9, 5, 8, 3, 2, 8]

In [8]:
#getting index of the element
ind=b.index(3)
print("index of 3:",ind)

index of 3: 5

In [9]:
#inserting an element at specific position
b.insert(5,6)
print("after insertion list is:",b)

after insertion list is: [1, 5, 9, 5, 8, 6, 3, 2, 8]

In [10]:
#pop
s=b.pop()
print("popped element:",s)

popped element: 8

In [11]:
#reverse the order of elements in the list
b.reverse()
print("reversed list:",b)

reversed list: [2, 3, 6, 8, 5, 9, 5, 1]

In [12]:
#sort the list
b.sort()
print("sorted list:",b)

sorted list: [1, 2, 3, 5, 5, 6, 8, 9]

In [13]:
#finding minimum element
min_val=min(b)
print("minimum value:",min_val)

minimum value: 1

In [14]:
#finding maximum element
max_val=max(b)
print("maximum value:",max_val)

maximum value: 9

In [15]:
#finding sum of elements in the list
sum_ele=sum(b)
print("sum of elements:",sum_ele)

sum of elements: 39

In [16]:
# How would you divide the list into two parts
# by using slicing we can divide list into two parts
a=[1,6,5,2,4,8]
mid=len(a)//2
first=a[:mid]
second=a[mid:]
print("original list:",a)
print("first part:",first)
print("second part:",second)

original list: [1, 6, 5, 2, 4, 8]
first part: [1, 6, 5]
second part: [2, 4, 8]

In [17]:
# How to filter the multiple of 3 from a given list and the remove the odd number from the new filtered list
a=[1,2,3,4,5,6,7,8,9,21,23,24]
b=[]
c=[]
for i in a:
  if i%3==0:
    b.append(i)
print("filtered list:",b)
for i in b:
  if i%2==0:
    c.append(i)
print("output list:",c)

filtered list: [3, 6, 9, 21, 24]
output list: [6, 24]

In [18]:
# How you can access keys and values simultaneously and update its value
dictionary={'a':1,'b':2,'c':3,'d':4}
#accessing keys and values
for key,val in dictionary.items():
  print(f"key:{key},value:{val}")
#updating the value
a_key='c'
new_val=9
dictionary[a_key]=new_val
print("updated dictionary:",dictionary)

key:a,value:1
key:b,value:2
key:c,value:3
key:d,value:4
updated dictionary: {'a': 1, 'b': 2, 'c': 9, 'd': 4}

In [19]:
# Write python program to join,merge,concatenate the two dictionaries
dict1={'a':1,'b':5}
dict2={'c':6,'d':8}
#joining the dictionaries
join_dict=dict1 | dict2
print("joined dictionary:",join_dict)
#merging  the dictionaries
merged_dict={**dict1,**dict2}
print("merged dictionary:",merged_dict)
#concatenate the dictionaries
concatenated_dict={**dict1,**dict2}
print("concatenated dictionary:",concatenated_dict)

joined dictionary: {'a': 1, 'b': 5, 'c': 6, 'd': 8}
merged dictionary: {'a': 1, 'b': 5, 'c': 6, 'd': 8}
concatenated dictionary: {'a': 1, 'b': 5, 'c': 6, 'd': 8}

In [20]:
# How would you check a specific keys from the dictionary
dict1={'a':5,'b':6,'c':2,'d':9}
key='a'
if key in dict1:
  print(f"The key '{key}' exists in the dictionary")
else:
  print(f"The key '{key}' does not exists in the dictionary")

The key 'a' exists in the dictionary

In [21]:
# Write a python program to find the unique vowel present in the sentence
sent=input()
a=set()
b="aeiou"
for i in sent:
  if i.lower() in b:
    a.add(i.lower())
c=sorted(list(a))
print(c)

sriya
['a', 'i']

In [22]:
# We know that tuple is immutable,do any thing and add element to the tuples
tup1=(2,3,4)
tup2=tup1+(6,7)
print(tup1)
print(tup2)

(2, 3, 4)
(2, 3, 4, 6, 7)

In [23]:
# How would you sum the list of tuple and sum of tuple of list
list_of_tuple=[(2,3),(4,5),(6,4)]
tuple_of_list=([2,3],[4,5],[6,4])
sum_of_list=[]
sum_of_tuple=[]
for i in list_of_tuple:
  sum_of_list.append(sum(i))
print("sum of list of tuple:",sum_of_list)
for i in tuple_of_list:
  sum_of_tuple.append(sum(i))
print("sum of tuple of list:",tuple(sum_of_tuple))

sum of list of tuple: [5, 9, 10]
sum of tuple of list: (5, 9, 10)

In [24]:
# Find the frequency of the values in the given dictionary
dict1={'a':5,'b':4,'c':3,'d':4}
freq={}
for val in dict1.values():
  if val in freq:
    freq[val]+=1
  else:
    freq[val]=1
print("frequency of the values:",freq)

frequency of the values: {5: 1, 4: 2, 3: 1}