<a href="https://colab.research.google.com/github/Laxmiprasanna2930/python/blob/main/Day4_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

`Good morning, wish you all the best,.All the 3 assignment has been included here only`

# Part ONe

## 1. Create a function that sum only the float number from a given hetrogenous list

In [ ]:
def sum_floats(list1):
  float_sum=0.0
  for n in list1:
    if isinstance(n,float):
      float_sum+=n
  return float_sum
list1=[1,3.5,"abhi",8,7.5,"abc",3,2.2]
res=sum_floats(list1)
print(res)

13.2

In [ ]:
# reverse the list using the loop
def rev_list(list2):
  rev_list=[]
  for i in range(len(list2)-1,-1,-1):
    rev_list.append(list2[i])
  return rev_list
list3=[1,2,3,4,'abhi',5,6]
res=rev_list(list3)
print(res)

[6, 5, 'abhi', 4, 3, 2, 1]

## 2. Count the total number of digit using the loop

In [ ]:
num=1234567
c=0
while num!=0:
  num//=10
  c+=1
print(f'Total number of digits:{c}')

Total number of digits:7

## 3. Display this
5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
rows=5
for i in range(rows,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

## 4. Display this

In [ ]:
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows=5
for i in range(1,rows+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
for i in range(rows-1,0,-1):
 for j in range(1,i+1):
    print("*",end=" ")
 print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 5. Write function that generate multiplication table upto a given range in Python

In [ ]:
def mul_table(n):
  for i in range(1,n+1):
    for j in range(1,11):
      res=i*j
      print(f"{i} x {j} = {res}")
    print()
mul_table(2)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
# what are the difference between the list comprehension and loop??

In [ ]:
# List comprehension
squares_comp=[x**2 for x in range(5)]
print(squares_comp)
# Loop
squares_loop=[]
for x in range(5):
  squares_loop.append(x**2)
print(squares_loop)

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]

# Part two

## 6. Write a python program for the palindrome checker using the loop

In [ ]:
def is_palindrome(word):
  a=''.join(word.split()).lower()
  for i in range(len(a)//2):
    if a[i]!=a[len(a)-1-i]:
      return False
  return True
input="121"
res=is_palindrome(input)
if res:
  print(f"{input} is a palindrome.")
else:
  print(f"{input} is not a palindrome.")

121 is a palindrome.

## 7. Factorial Calculation
Write a program that calculates the factorial of a given number using a loop. The user should input the number, and the program should display its factorial.

In [ ]:
a = int(input("enter number:"))
fact_res=1
for i in range(1,a+1):
  fact_res*=i
print(f" The factorial of {a} is: {fact_res}")

enter number:5
 The factorial of 5 is: 120

## 8. Binary to Decimal Converter
Create a program that converts a binary number (entered by the user) to its decimal equivalent. The user should input the binary number as a string, and the program should output its decimal equivalent.

In [ ]:
binary_num=input("enter binary number:")
output=int(binary_num,2)
print(f" The decimal equivalent of {binary_num} is : {output}")

enter binary number:10101
 The decimal equivalent of 10101 is : 21

## 10. Matrix Transposition:
Create a program that transposes a given matrix. The user should input the matrix as a list of lists, and the program should output the transposed matrix. For example, if the input is:

In [ ]:
matrix=[]
while True:
  row_input=input("Enter a row of numbers or 'ok':")
  if row_input.lower()=='ok':
    break
  row=[int(num) for num in row_input.split()]
  matrix.append(row)
transposed_matrix=[]
for i in range(len(matrix[0])):
  transposed_row=[]
  for row in matrix:
    transposed_row.append(row[i])
  transposed_matrix.append(transposed_row)
print("Original matrix:")
for row in matrix:
  print(row)
print("\n Transposed matrix:")
for row in transposed_matrix:
  print(row)

Enter a row of numbers or 'ok':3 4 5
Enter a row of numbers or 'ok':6 7 8
Enter a row of numbers or 'ok':1 2 3
Enter a row of numbers or 'ok':ok
Original matrix:
[3, 4, 5]
[6, 7, 8]
[1, 2, 3]

 Transposed matrix:
[3, 6, 1]
[4, 7, 2]
[5, 8, 3]

# Part Three File Handling

## 11. program to open the text file and edit it

In [ ]:
with open('file1.txt','r') as file:
  con=file.read()
con+="\n hi...hello."
with open('file1.txt','w') as file:
  file.write(con)

## 12. Program to list all the file in the directory

In [ ]:
import os
list_of_files=os.listdir("/content/sample_data")
print("All files in directory are:\n",list_of_files)

All files in directory are:
 ['README.md', 'anscombe.json', 'data1.txt', 'file1.txt', 'california_housing_train.csv', 'mnist_test.csv', 'mnist_train_small.csv', 'california_housing_test.csv']

## 13. program to find the name of list only the text file and only the image file specifically

In [ ]:
txt_f=[]
csv_f=[]
for _ in list_of_files:
  if 'csv' in _:
    csv_f.append(_)
  else:
    if 'txt' in _:
      txt_f.append(_)
print("csv files:",csv_f)
print("text files",txt_f)

csv files: ['california_housing_train.csv', 'mnist_test.csv', 'mnist_train_small.csv', 'california_housing_test.csv']
text files ['data1.txt', 'file1.txt']

## 14. Program to copy the the file and also the bundle of file to the specific location

In [ ]:
f1=open("/content/sample_data/file1.txt","r")
f2=open("/content/sample_data/data1.txt","w")
for i in f1:
  f2.write(i)
f1.close()
f2.close()
f3=open("/content/sample_data/data1.txt","r")
print(f3.read())
f3.close()

my first file1
This is good

## 15. Program to delete the specific file and folder

In [ ]:
os.remove("/content/Hello_Python/python.txt")
print(os.listdir())

['.config', 'Hello_Python', 'sample_data', 'data1.txt', '.ipynb_checkpoints', 'file1.txt']